html, body, div, span,
h1, h2, h3, h4, h5, h6,em, img, q,ol,
ul, li,table, tr, th,
td,canvas,footer, header,p{
 margin:0;
 padding:0;
 border:0;
 outline:0;
 vertical-align:baseline;
 background:transparent;
 list-style:none;
 font-style:normal;
 font-weight:normal;
 font-size: 100%;
 font: inherit;
}

@font-face {
    font-family: 'georgia bold italic';
    src: url('../fonts/georgiabolditalic.eot');
    src: url('../fonts/georgiabolditalic.eot') format('embedded-opentype'),
         url('../fonts/georgiabolditalic.woff') format('woff'),
         url('../fonts/georgiabolditalic.ttf') format('truetype'),
         url('../fonts/georgiabolditalic.svg#GeorgiaBoldItalic') format('svg');
}

@font-face {
    font-family: 'georgia italic';
    src: url('../fonts/georgiaitalic.eot');
    src: url('../fonts/georgiaitalic.eot') format('embedded-opentype'),
         url('../fonts/georgiaitalic.woff') format('woff'),
         url('../fonts/georgiaitalic.ttf') format('truetype'),
         url('../fonts/georgiaitalic.svg#GeorgiaItalic') format('svg');
}

a{
	text-decoration : none;
}

.wrapper{
	width : 940px;
	margin : 0px auto;
}

.logo{
	background : url('../images/logo.png') no-repeat;
	width : 118px;
	height : 50px;
	margin : 10px 0px 15px 0px;
	float : left;
	display : block;
}

.socialIcons{
	float : left;
	margin-right : 5px;
}

.lastSocialIcon{
	margin-right : 0px;
}

.floatUlRight{
	float : right;	
	margin : 29px 0px 0px 21px;
}

.loginContactUl{
	font-family : arial regular;
	font-size : 12px;
	line-height : 16px;
	float : right;
	margin : 29px 0px 0px 116px;
}

.loginContactLi{
	margin-right : 18px;
	float : left;
}

.contactIcon{
	background: url('../images/callIcon.png') center center no-repeat;
	width : 16px;
	height : 17px;
	margin-right : 5px;
	float : left;
	display : block;
}

.contactText{
	color : #0077cc;
	margin-top : 1px;
	float : left;
}

.loginIcon{
	background: url('../images/loginIcon.png') center center no-repeat;
	width : 14px;
	height : 15px;
	margin-right : 5px;
	float : left;
	display : block;
}

.loginText{
	color : #0077cc;
	margin-top : 1px;
	float : left;
}

.endLoginContactLi{
	margin-right : 0px;
}

.headerNavigationUl{
	font-size : 14px;
	line-height : 24px;
	font-family : arial regular;
	margin : 24px 0px 0px 0px;
	float : right;
}

.headerNavigationLi{
	margin-right : 37px;
	float : left;
}

.liHome{
	color : #000000;
}

.remainingMenu{
	color : #0077cc;
}

.endMenuLi{
	margin-right : 0px;
}

.clearFix{
	float : none;
	clear : both;
}

.wrapper ul li a{
	display : block;
}

.facebookIcon{
	background: url('../images/facebookIcon.png') center center no-repeat;
	width : 15px;
	height : 16px;
}

.twitterIcon{
	background: url('../images/twitterIcon.png') center center no-repeat;
	width : 15px;
	height : 16px;
}

.bannerBackground{
	background: url('../images/bannerBackground.jpg') no-repeat;
	background-size : cover;
	height : 310px;
}

.bannerImage{
	background: url('../images/bannerImage.png') no-repeat;
	width : 463px;
	height : 242px;
	float : left;
	margin : 40px 0px 0px 0px;
}

.bannerContent{
	width : 390px;
	margin-top : 76px;
	float : right;
}

.bannerContent h1{
	font-size : 28px;
	line-height : 40px;
	font-family : georgia bold italic;
	color : #ffffff;
	margin-bottom : 74px;
}

.bannerContent input[type="text"]{
	font-size : 16px;
	line-height : 18px;
	font-family : arial regular;
	width : 256px;
	height : 40px;
	color : #b4b4b4;
	border-style : solid;
	border-color : #b4b4b4;
	border-radius : 4px;
	padding-left : 9px;
}

.bannerContent input[type="submit"]{
	width : 115px;
	height : 46px;
	border-style : solid;
	border-radius : 4px;
	font-size : 16px;
	line-height : 18px;
	font-family : arial regular;
	padding-left : 14px;
	color : #ffffff;
	border-style : solid;
	border-color : #ff6000;
	border-radius : 4px;
	background-image: url('../images/buttonGradient.png');
	background-repeat: repeat; 
	
}

.content{
	padding : 18px 0px 40px 0px;
	font-family : arial regular;
	font-size : 12px;
	line-height : 16px;
	border-bottom : 1px solid #e2e2e2;
}

.contentLeft{
	width : 227px;
	padding-bottom: 3px;
	margin-right : 44px;
	float : left;
}

.openingComa{
	background-image: url('../images/openingComa.png');
	width : 27px;
	height : 21px;
	display : block;
}

.contentLeftHeading{
	color : #0076d1;
}

.setColorToPTag{
	color : #444444;
}

.closingComa{
	background-image: url('../images/closingComa.png');
	width : 23px;
	height : 18px;
	display : block;
	float : right;
}

.doctorName{
	color : #444444;
	line-height : 20px;
	float : right;
}

.midContent{	
	padding-top : 7px;
	width : 227px;	
	float : left;
}

.midContentHeading{
	line-height : 18px;
	color :#444444;
	margin-bottom : 14px;
	display : block;
}

.midContentReadMore{
	color : #0076d1;
	float : right;
}

.contentRight{
	width : 391px;
	float : right;
}

.contentRightText{
	font-family : georgia italic;
	font-size : 22px;
	line-height : 24px;
	color : #0076d1;
	margin-bottom : 12px;
}

.signUpButton{
	font-size : 22px;
	line-height : 45px;
	font-family : arial regular;
	width : 145px;
	height : 45px;
	border-style : solid;
	border-color : #ff6000;
	border-radius : 4px;
	color : #ffffff;
	background-image: url('../images/signUpGradient.png');
	background-repeat: repeat; 
	float : right;
	text-align : center;
}

.footer{
	padding : 19px 0px 192px 0px;
	color : #444444;
	font-family : arial regular;
}

.company{
		font-size : 12px;
		line-height : 18px;
		float : left;
		width : 129px;
		margin-right : 42px;
}

.company span{
	margin-bottom : 5px;
	display : block;
}

.companyLi{	
	font-size : 12px;
	line-height : 14px;
	border-top : 1px dashed #e2e2e2;
	border-bottom : 1px dashed #e2e2e2;
	padding : 9px 0px 8px 0px;
}

.decoration{
	color : #0077cc;
}


.findRemedy{
		font-size : 12px;
		line-height : 18px;
		float : left;
		width : 129px;
		margin-right : 42px;
}

.findRemedy span{
	margin-bottom : 5px;
	display : block;
}

.findRemedyLi{	
	font-size : 12px;
	line-height : 14px;
	border-top : 1px dashed #e2e2e2;
	border-bottom : 1px dashed #e2e2e2;
	padding : 9px 0px 8px 0px;
}

.findMedicines{
		font-size : 12px;
		line-height : 18px;
		float : left;
		width : 129px;
		margin-right : 42px;
}

.findMedicines span{
	margin-bottom : 5px;
	display : block;
}

.findMedicinesLi{	
	font-size : 12px;
	line-height : 14px;
	border-top : 1px dashed #e2e2e2;
	border-bottom : 1px dashed #e2e2e2;
	padding : 9px 0px 8px 0px;
}

.healthInfo{
		font-size : 12px;
		line-height : 18px;
		float : left;
		width : 129px;
		margin-right : 0px;
}

.healthInfo span{
	margin-bottom : 5px;
	display : block;
}

.healthInfoLi{	
	font-size : 12px;
	line-height : 14px;
	border-top : 1px dashed #e2e2e2;
	border-bottom : 1px dashed #e2e2e2;
	padding : 9px 0px 8px 0px;
}

.copyright{
	font-size : 13px;
	line-height : 18px;
	float : right;
}
